/* ==========================================
   APP GLOBAL
========================================== */

html,
body {

    width:100%;

    height:100%;

    margin:0;

    padding:0;

    overflow:hidden;

}


/* ==========================================
   APP CONTAINER
========================================== */

#screen {

    position:fixed;

    inset:0;

    z-index:100;

    pointer-events:auto;

}


/* ==========================================
   GLOBAL ELEMENTS
========================================== */

* {

    box-sizing:border-box;

}


button {

    font-family:inherit;

}


img {

    max-width:100%;

}


/* ==========================================
   SCROLL
========================================== */

::-webkit-scrollbar {

    width:0;

    height:0;

}