.avatar{

    width:140px;

    height:140px;

    margin:0 auto;

    border-radius:50%;

    background:var(--card);

    border:2px dashed var(--border);

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:var(--transition);

}

.avatar:hover{

    transform:scale(1.03);

}

.avatar-icon{

    font-size:42px;

}

.avatar-text{

    margin-top:10px;

    font-size:14px;

    color:var(--text-secondary);

}