/* ==========================================
   TEXTAREA
========================================== */


.textarea{


    width:100%;


    min-height:120px;


    padding:

        16px 18px;



    border-radius:

        18px;



    border:

        1px solid

        rgba(255,255,255,.1);



    background:

        rgba(255,255,255,.06);



    color:white;



    font-size:16px;



    line-height:1.5;



    resize:none;



    outline:none;



}



.textarea::placeholder{


    color:

        rgba(255,255,255,.45);


}



.textarea:focus{


    border-color:

        #4f8cff;



    box-shadow:

        0 0 0 4px

        rgba(79,140,255,.15);


}