:root {

    --bg: #0b0f14;
    --card: #18212c;

    --text: #ffffff;
    --secondary: #9ca3af;

    --accent: #ff9800;

}


* {

    margin:0;
    padding:0;

    box-sizing:border-box;

    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

}


html,
body {

    width:100%;
    height:100%;

    overflow:hidden;

    background:var(--bg);

    color:var(--text);

}



#app {

    width:100%;
    height:100%;

    position:relative;

}



/* верхняя панель */


.top-bar {


    position:absolute;

    top:15px;

    left:15px;

    right:15px;


    display:flex;

    justify-content:space-between;

    align-items:center;


    padding:15px 18px;


    background:
        rgba(24,33,44,.85);


    backdrop-filter:
        blur(15px);


    border-radius:18px;


    z-index:10;

}



.logo {

    font-size:20px;

    font-weight:800;

}



#connection-status {

    color:#35c759;

    font-size:13px;

}



/* центр */


#content {

    width:100%;

    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}



.placeholder {

    text-align:center;

    color:var(--secondary);

}


.placeholder:first-letter {

    font-size:60px;

}



.placeholder h2 {

    margin-top:15px;

    color:white;

}



/* кнопки */


button {


    border:none;

    cursor:pointer;

}



/* геолокация */


#location-button {


    position:absolute;


    right:20px;

    bottom:110px;


    width:58px;

    height:58px;


    border-radius:50%;


    background:var(--card);

    color:white;


    font-size:24px;


}



/* создать встречу */


#create-button {


    position:absolute;


    left:20px;

    right:20px;


    bottom:25px;


    height:60px;


    border-radius:18px;


    background:

        linear-gradient(
            135deg,
            #ff9800,
            #ffb300
        );


    color:white;


    font-size:17px;

    font-weight:700;


}

body[data-theme="light"]{

    --bg:#f4f6fb;

    --card:#ffffff;

    --text:#111111;

}


body[data-theme="dark"]{

    --bg:#0b0f14;

    --card:#18212c;

    --text:#ffffff;

}