.active-panel{

    position:fixed;

    left:16px;

    right:16px;

    bottom:20px;

    background:var(--card);

    border-radius:24px;

    padding:20px;

    z-index:3000;

    box-shadow:
    0 10px 40px rgba(0,0,0,.35);

}


.active-title{

    font-size:22px;

    font-weight:700;

    margin-bottom:20px;

}


.active-label{

    opacity:.7;

    margin:12px 0 8px;

}


.active-times,
.active-types{

    display:flex;

    gap:8px;

}


.active-panel button{

    border:none;

    border-radius:14px;

    padding:12px;

    background:#333;

    color:white;

}


.active-selected{

    background:var(--primary)!important;

}


.active-start{

    width:100%;

    margin-top:20px;

    background:#00c853!important;

    font-size:18px;

}