/* ==========================================
   TYPOGRAPHY
========================================== */

html{

    font-size:16px;

    -webkit-font-smoothing:antialiased;

}



body{

    font-family:

        Inter,

        system-ui,

        -apple-system,

        BlinkMacSystemFont,

        "Segoe UI",

        sans-serif;





    color:var(--text);

    background:var(--bg);

}



h1{

    font-size:32px;

    font-weight:800;

}



h2{

    font-size:26px;

    font-weight:800;

}



h3{

    font-size:20px;

    font-weight:700;

}



small{

    color:var(--text-muted);

}